<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="shortcut icon" href="/assets/icons/sajoil icon.ico">
    <link rel="stylesheet" href="/assets/icons/fonts/remixicon.css">
    <title>Conócenos</title>
</head>
<body>
    <nav class="nav">
        <div class="logotipo"><img class="logo" src="/assets/img/Sajoil Logo Nuevo WB.png" alt="Logo Sajoil"></div>
        <div id="options-menu">
            <i class="ri-menu-line" id="menu"></i>
            <div id="back_menu"></div>
            <div class="options-nav" id="nav">
            
                <ul>
                    <li class="option-nav" ><a href="/index.html">Inicio</a></li>
                    <li class="option-nav" ><a href="/views/productos.html">Productos</a></li>
                    <li class="option-nav" id="selected"><a href="/views/conocenos.html">Conócenos</a></li>
                    <li class="option-nav" ><a href="/views/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        
    </nav>
    <section class="conocenos primer-section">

    </section>



    

    <footer class="footer"><div>Sajoil ® 2023 | AVISO DE PRIVACIDAD</div></footer>

    <script src="/js/script.js"></script>
</body>
</html>