<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/contactanos.css">
    <link rel="shortcut icon" href="/assets/icons/sajoil icon.ico">
    <link rel="stylesheet" href="/assets/icons/fonts/remixicon.css">
    <title>Contacto</title>
</head>
<body>
    <nav class="nav">
        <div class="logotipo"><img class="logo" src="/assets/img/Sajoil Logo Nuevo WB.png" alt="Logo Sajoil"></div>
        <div id="options-menu">
            <i class="ri-menu-line" id="menu"></i>
            <div id="back_menu"></div>
            <div class="options-nav" id="nav">
            
                <ul>
                    <li class="option-nav" ><a href="/index.html">Inicio</a></li>
                    <li class="option-nav" ><a href="/views/productos.html">Productos</a></li>
                    <li class="option-nav" ><a href="/views/conocenos.html">Conócenos</a></li>
                    <li class="option-nav" id="selected"><a href="/views/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        
    </nav>

    <section class="contacto primer-section">
        <h2 class="title-window"><span class="gold">¡</span>Contactanos<span class="gold">!</span></h2>
        <p class="info-text">Para nosotros nuestros clientes son lo más importante, estaríamos encantados en atender tus dudas y sujerencias, escribanos y con gusto le atendemos.</p>
        <p class="info-text bold">¡Si deseas vender nuestros productos en tu negocio comunicate con nosotros!</p>
    </section>

    <section>
        <div class="form">
            <div class="form-content">
                <form action="https://formsubmit.co/sajoil.jabon@gmail.com" method="POST" class="input-form">
                    <input class="input" type="text" required aria-required="true" name="name" placeholder="Nombre:">
                    <input class="input" type="email" required aria-required="true" name="email" placeholder="Correo electronico:">
                    <input class="input" type="tel" pattern="[0-9()#&+*-=.]+" name="telefono" title="Only numbers and phone characters (#, -, *, etc) are accepted." placeholder="Num. Telefonico (Opcional):">
                    <input class="input" type="text" required aria-required="true" name="asunto" placeholder="Asunto:">
                    <textarea cols="10" rows="10" class="text-area" required aria-required="true" name="mensaje" placeholder="Mensaje:" ></textarea>
                    <button class="btn-send" type="submit" target="_blank">Enviar</button>
                </form>
            </div>
            <div class="form-content">
                <img class="img-sajoil" src="/assets/img/Sajoil Logo Nuevo WB recortado.png" alt="">
                <div class="social-media">
                    <p class="bold">Nuestras redes sociales:</p>
                    <div class="social-media-logos">
                        <a href="" target="_blank" class="bgIcon"><i class="ri-facebook-circle-line"></i></a>
                        <a href="" target="_blank" class="bgIcon"><i class="ri-instagram-line"></i></a>
                        <a href="" target="_blank" class="bgIcon"><img src="/assets/icons/tiktok.svg" alt="" class="tiktok"></a>
                        
                        
                        <!-- <svg class="tiktok" xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 40 40" width="40px" height="40px"><path d="M 6 3 C 4.3550302 3 3 4.3550302 3 6 L 3 18 C 3 19.64497 4.3550302 21 6 21 L 18 21 C 19.64497 21 21 19.64497 21 18 L 21 6 C 21 4.3550302 19.64497 3 18 3 L 6 3 z M 6 5 L 18 5 C 18.56503 5 19 5.4349698 19 6 L 19 18 C 19 18.56503 18.56503 19 18 19 L 6 19 C 5.4349698 19 5 18.56503 5 18 L 5 6 C 5 5.4349698 5.4349698 5 6 5 z M 12 7 L 12 14 C 12 14.56503 11.56503 15 11 15 C 10.43497 15 10 14.56503 10 14 C 10 13.43497 10.43497 13 11 13 L 11 11 C 9.3550302 11 8 12.35503 8 14 C 8 15.64497 9.3550302 17 11 17 C 12.64497 17 14 15.64497 14 14 L 14 10.232422 C 14.616148 10.671342 15.259118 11 16 11 L 16 9 C 15.952667 9 15.262674 8.7809373 14.78125 8.3613281 C 14.299826 7.941719 14 7.4149911 14 7 L 12 7 z"/></svg> -->
                        
                    </div>
                    <p >Otras formas de contacto:</p>
                    
                    <a class="enlace" href="https://wa.me/9979739336" target="_blank">
                        <i class="ri-whatsapp-line icons"></i>
                        <p class="bold">(+52) 9979739336</p>
                    </a>
                    <a class="enlace" href="mailto:sajoil.jabon@gmail.com">
                        <i class="ri-mail-line icons"></i>
                        <p class="bold">sajoil.jabon@gmail.com</p>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </section>


    

    <footer class="footer"><div>Sajoil ® 2023 | AVISO DE PRIVACIDAD</div></footer>

    <script src="/js/script.js"></script>
</body>
</html>