<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/productos.css">
    <link rel="shortcut icon" href="/assets/icons/sajoil icon.ico">
    <link rel="stylesheet" href="/assets/icons/fonts/remixicon.css">
    <title>Productos Sajoil</title>
</head>
<body>
    <nav class="nav">
        <div class="logotipo"><img class="logo" src="/assets/img/Sajoil Logo Nuevo WB.png" alt="Logo Sajoil"></div>
        <div id="options-menu">
            <i class="ri-menu-line" id="menu"></i>
            <div id="back_menu"></div>
            <div class="options-nav" id="nav">
            
                <ul>
                    <li class="option-nav" ><a href="/index.html">Inicio</a></li>
                    <li class="option-nav" id="selected"><a href="/views/productos.html">Productos</a></li>
                    <li class="option-nav" ><a href="/views/conocenos.html">Conócenos</a></li>
                    <li class="option-nav" ><a href="/views/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        
    </nav>
    <div class="primer-section section-productos ">
        <h2 class="title-window"><span class="gold">¡</span>Nuestros productos<span class="gold">!</span></h2>
    </div>


    <section class="list-productos ">
        <div class="products-container contenedor grid">
            <div class="products-content grid">
                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/jabon.png" alt="">
                    <p class="product-name">Jabón en barra</p>
                    <p class="product-gramaje gold">75 gr | 100 gr</p>
                </div>

                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/escamas.png" alt="">
                    <p class="product-name product-text">Jabón en escamas</p>
                    <p class="product-gramaje gold product-text">75 gr | 100 gr</p>
                </div>

                <!-- ======================examples======================= -->
                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/jabon.png" alt="">
                    <p class="product-name">Jabón en barra</p>
                    <p class="product-gramaje gold">75 gr | 100 gr</p>
                </div>

                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/escamas.png" alt="">
                    <p class="product-name product-text">Jabón en escamas</p>
                    <p class="product-gramaje gold product-text">75 gr | 100 gr</p>
                </div>

                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/jabon.png" alt="">
                    <p class="product-name">Jabón en barra</p>
                    <p class="product-gramaje gold">75 gr | 100 gr</p>
                </div>

                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/escamas.png" alt="">
                    <p class="product-name product-text">Jabón en escamas</p>
                    <p class="product-gramaje gold product-text">75 gr | 100 gr</p>
                </div>

                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/jabon.png" alt="">
                    <p class="product-name">Jabón en barra</p>
                    <p class="product-gramaje gold">75 gr | 100 gr</p>
                </div>

                <div class="product-data">
                    <img class="product-img" src="/assets/img/productos/escamas.png" alt="">
                    <p class="product-name product-text">Jabón en escamas</p>
                    <p class="product-gramaje gold product-text">75 gr | 100 gr</p>
                </div>
            </div>
        </div>

    </section>




    <footer class="footer"><div>Sajoil ® 2023 | AVISO DE PRIVACIDAD</div></footer>

    <script src="/js/script.js"></script>
</body>
</html>